/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
   
}
#container-about-us body{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#container-about-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 4em auto 10em;
    grid-template-rows: 4em auto 10em;
        grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

#container-about-us .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: 450;
}

#container-about-us main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
        grid-template-areas: "process-container process-container process-container"
                          "iframe iframe iframe"
                          "form-container form-container form-container"
                          "about-us about-us about-us"
}

#container-about-us main .form-container{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin: 3.7em auto ;
}


#container-about-us .iframe{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2em;
    padding: 2em;
    background-color: rgb(248, 248, 248);

}

#container-about-us .iframe p:last-child{
    max-width: 20em;
    line-height: 1.6em;
    text-align: center;
    border:none;
}

#container-about-us .iframe p{
    text-align: left;
    line-height: 1.6em;
    border-right:  2px solid #c6c6c6;
    padding-right: 7em;
}

#container-about-us .process-container {
    margin-bottom: 4em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    background-color: rgb(237, 229, 241);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 26em 26em;
    grid-template-rows: 26em 26em;
        grid-template-areas: "process-1 process-2 sobre-nosotros"
                         "pedidos process-3 process-4";
}


#container-about-us .header .nav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 4em;
}
#container-about-us .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container-about-us .nav ul li{
    display: inline-block;
}

#container-about-us .nav ul li a{
    text-decoration: none ;
    display: inline;
    padding: 0;
    margin: 0 1rem;
    -webkit-transition: all 0.1s linear ;
    -o-transition: all 0.1s linear ;
    transition: all 0.1s linear ;
}

 .nav .li-1 a:hover, .nav .li-2 a:hover, .nav .li-3 a:hover, .nav .li-4 a:hover{
    color: rgb(231, 199, 237);
    border-bottom: 2.5px solid rgb(231, 199, 237) ;
}
.nav li a:hover{
    color: rgb(231, 199, 237);

}

.nav a:link, nav a:visited{
    color: black;
}
.header .nav-container #logo{
    max-height: 4em;
}

#container-about-us .process-1{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding: 2em 0.5em;
}
#container-about-us .process-2{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding: 2em 0.5em;
}

#container-about-us .sobre-nosotros{
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 1.8em;
    padding: 2em;
}

#container-about-us .sobre-nosotros h4, #container-about-us .pedidos h4{
    padding-bottom: 1.5em;
}

#container-about-us .pedidos{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 1.8em;
    padding: 2em;
}

#container-about-us .process-3{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding:2em 0.5em ;
}
#container-about-us .process-4{ 
    -ms-grid-row: 2; 
    -ms-grid-row-span: 1; 
    grid-row: 2/3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    padding: 2em 0.5em;
}

#container-about-us .process-container img{
    width: 100%;
    max-height: 24em;
    -o-object-fit: cover;
       object-fit: cover;
}

#container-about-us .footer{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column:1;
    -ms-grid-column-span:3;
    grid-column:1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6em;
    background-color: rgb(232, 230, 230);
    font-size: 1.1em;
    font-weight: 350;
    line-height: 1.5em;
}

#container-about-us .about-us{
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top: 0.2em solid rgb(231, 199, 237 );
    max-height: 2em;
    border-bottom:  0.5em solid rgb(231, 199, 237 );
    margin-top: 1em;
    padding: 1.4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 0.9em;
}

#container-about-us .form-container{
    height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    margin: 3.7em auto ;
    width: 40%;
}

#container-about-us h3{
    text-align: center;
    font-weight: 700;
}

#container-about-us form{
    background: #D3CCE3;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#E9E4F0), to(#D3CCE3));
    background: -o-linear-gradient(left, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #fff;
    padding: 40px 0;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
}
#container-about-us .form {
    width: 100%;
    margin: auto;
}
#container-about-us form .grupo{
    position: relative;
    margin: 45px;
    background: white;
}

#container-about-us input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c6c6c6;
}

#container-about-us input:focus, textarea:focus{
    outline: none;
    color: #5e5d5d;

}

#container-about-us form label{
    color: #c6c6c6;
    font-size: 16px;
    position: absolute;
    /* bottom: 0; */
    left: 5px;
    /* top: 10px; */
    /* transition: 0.5s ease all; */
    pointer-events: none;

}

#container-about-us form input:focus~label, 
#container-about-us form input:valid~label{
    top: -14px;
    font-size: 16px;
    color: rgb(231, 199, 237);
}

#container-about-us textarea:valid~label{
    top: -22px;
  
}

#container-about-us textarea{
    width: 100%;
}

#container-about-us .barra{
    display: block;
    position:relative;
    width: 100%;
}


#container-about-us .barra::before{
    content: "";
    height: 3px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background:-webkit-gradient(linear, left top, right top, from(#E9E4F0), to(#D3CCE3));
    background:-o-linear-gradient(left, #E9E4F0, #D3CCE3);
    background:linear-gradient(to right, #E9E4F0, #D3CCE3);
    -webkit-transition: 0.3s ease width;
    -o-transition: 0.3s ease width;
    transition: 0.3s ease width;
    left: 0;
}

#container-about-us input:focus~.barra::before{
    width: 100%;
}
#container-about-us .warnings{
     width: 200px;
     text-align: center;
     margin: auto;
     color: #5e5d5d;
     padding-top: 20px;
 }

 #container-about-us form button{
    display: block;
    background-color: white;
    color: black; 
    padding: 5px 20px;
    border:1.5px solid rgb(59, 59, 59);
    border-radius: 22px;
    width: 80%;
    margin: auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#container-about-us  button:hover{
    color: rgb(231, 199, 237) ;
    border: 1.5px solid  rgb(231, 199, 237); 
}

.footer .icon-footer i{
    margin-left: 1em;
}
#container-about-us .nav-label, #container-about-us .nav-input{
    display: none;
}
@media screen and (max-width: 500px) {
    form{
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
      
    .sobre-nosotros, .pedidos{
        font-size: 2vw;
    }
    .sobre-nosotros h4, .pedidos h4{
       font-size: 1em;
    }

    .iframe{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 800px;
        padding: auto;
    }
    iframe{
        max-width: 50%;
    }
    #container-about-us form input:focus~label, 
    #container-about-us form input:valid~label, 
    #container-about-us textarea:valid~label{
        font-size: 12px;
    }
   .nav-label{
                display:block;
                cursor: pointer;
            }
   .nav-menu{
                position: fixed;
                top: 4em;
                bottom: 0;
                background:rgb(248, 248, 248) ;
                width: 100%;
                left: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-clip-path: circle(0 at center);
                        clip-path: circle(0 at center);
                -webkit-transition: -webkit-clip-path 1s ease-in-out;
                transition: -webkit-clip-path 1s ease-in-out;
                -o-transition: clip-path 1s ease-in-out;
                transition: clip-path 1s ease-in-out;
                transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
            }
    .nav-input:checked + .nav-menu{
                -webkit-clip-path: circle(100% at center);
                        clip-path: circle(100% at center);
            }
  }
